extends ../layouts/mainLayout.pug

block append styles     
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content 
    main 
        if errorMsg 
            .user-message.user-message--error #{errorMsg}
        form.login-form(action="/login", method = "POST")
            input(type="hidden", name="_csrf", value = `${csrfToken}`)
            .form-control 
                label(for="email") Email 
                input#email(type="email", name="email", value = `${oldInput.email}` class = `${validationErrors.find(err => err.path === 'email') ? 'invalid' : ''}`)
            .form-control 
                label(for="password") Password 
                input#password(type="password", name="password", value = `${oldInput.password}` class = `${validationErrors.find(err => err.path === 'password') ? 'invalid' : ''}`)
            button.btn(type="submit") Login

